beautifulsoup4
pandas
tqdm
joblib
lxml  # For better XML parsing performance (if not already installed with xml.etree)
unidecode
streamlit
plotly
scikit-learn
pyarrow
fastapi
uvicorn
sentence-transformers
umap-pytorch
crossref
pyyaml
requests
google-generativeai
pyyaml
torch
dropbox
u